<div class="landingpage">
	<div class="login inline-block bottom-box">
		<p>User Login</p>
		
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		
		<%= render :partial => "form" %>
	</div>
</div>
