.bundle
db/*.sqlite3
log/*.log
tmp/
public/images/books/*
public/images/monsters*
public/images/Card.jpg
public/images/apart.png
public/images/banner.png
public/images/grass_square.jpg
public/images/shuffle_buttons_active.png
public/images/test.png
public/images/winner.png
public/images/yellow_borders_big.png
public/images/yellow_borders_little.png
test/fixtures/cardgames.yml
test/fixtures/cards.yml
test/fixtures/user_settings.yml
test/unit/card_test.rb
test/unit/cardgame_test.rb
test/unit/user_setting_test.rb
