<% content_for :head do %>
	<script type="text/javascript">
		$(document).ready(function() {
			<% if !tablet_device? %>
				$('.error').removeClass('invisible');
			<% end %>
		});
	</script>
<% end %>
<div class="ipad-button">
	<div class="errors-container">
		<div class="error error-name inline-block invisible">Open this page on your iPad</div>
	</div>
	<button class="blue extra-jumbo-button">
		<a href="http://playtell-staging.heroku.com/ipad/Playdate_Beta_Development.mobileprovision">
			Step 1. Install PlayTell Provisioning Profile
		</a>
	</button>
	<br />
	<button class="blue extra-jumbo-button">
		<a href="itms-services://?action=download-manifest&url=http://playtell-staging.heroku.com/ipad/PlayTell.plist">
			Step 2. Install PlayTell Application
		</a>
	</button>
	<br />
	<button class="blue extra-jumbo-button">
		<a href="itms-services://?action=download-manifest&url=http://playtell-staging.heroku.com/ipad/PlayTell-screenshot.plist">
			Alternate Step 2. Install PlayTell Application with screenshots
		</a>
	</button>
</div>

<h2 style="margin-top:30px">Enterprise Build</h2>
<div class="ipad-button">
	<div class="errors-container">
		<div class="error error-name inline-block invisible">Open this page on your iPad</div>
	</div>
	<button class="blue extra-jumbo-button">
		<a href="http://playtell-staging.heroku.com/enterprise/PlayTell_iPad_Dev.mobileprovision">
			Step 1. Install PlayTell Provisioning Profile
		</a>
	</button>
	<br />
	<button class="blue extra-jumbo-button">
		<a href="itms-services://?action=download-manifest&url=http://playtell-staging.heroku.com/enterprise/PlayTell.plist">
			Step 2. Install PlayTell Application
		</a>
	</button>
</div>
</br>