<div class="ipad-button">

<button class="blue extra-jumbo-button">
	<a href="/ipad/PlayTell_Enterprise_Distribution.mobileprovision">
		Step 1. Install PlayTell Provisioning Profile
	</a>
</button>
<br />
<button class="blue extra-jumbo-button">
	<a href="itms-services://?action=download-manifest&url=http://www.playtell.com/ipad/PlayTell.plist">
		Step 2. Install PlayTell App
	</a>
</button>
</div>
