
/* DEFAULT
-------------------------------------------------------------------------  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

form, fieldset, label, input, .checkbox, textarea, select, option, form div {
    margin: 0;
    padding: 0;
}

/* SCAFFOLD 
-------------------------------------------------------------------------  */

#notice {
  color: green;
}

.field-with-errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error-explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error-explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error-explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* BASICS
-------------------------------------------------------------------------  */
html {
	background: #C5CBCB url("/images/background.png");
}

a, a:visited {
    color: #539AB7;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #539AB7;
}

p { line-height: 1.4em; }

h1 {
    margin: 0;
    padding: 0;
    color: #b76f53; 
	font-size: 3.5em;
	font-weight: bold;
}

h1.smaller {
    margin: 20px 0 15px 0;
    font-size: 2.5em;
    color: #AAA;
}

h2 {
    margin: 0;
    font-size: 22px;
    color: #539AB7;
}

h3 {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    color: #539AB7;
}

h4 {
    padding: 5px 0;
    font-size: 13px;
    font-weight: normal;
}

ul { 
    display: block;
    margin-bottom: 15px;
}

ul li {
    list-style-type: disc;
    margin: 5px 5px 5px 15px;
}

li { line-height: 1.5em; }

.section {
    margin: 0px 0px 15px 0px;
    padding: 0;
    overflow: hidden;
}

/* MISC
-------------------------------------------------------------------*/
.emphasis { 
    font-weight: bold;
    color: #539AB7;
}

.smallcaps { 
    font-variant: small-caps;
}

.bold { font-weight: bold; }
.fl { float: left; }
.fr { float: right; }
.hidden { display: none; }
.inline { display: inline; }
.clear { clear: both; }

.brown-color { color: #b76f53;}

/* RAGATZI --------------------------------------------------------- */

.mainContainer {
    width: 1000px;
    margin: 0px auto;
    padding: 5px 10px;
}

.header {
	background: white;
	padding: 5px 5px 0px 5px;
}

.logo {
	padding-top: 9px;
	padding-left: 5px;
	width: 200px;
}

img#scientistImage {
	width: 40px;
	margin-bottom: -5px;
}

#mainContent {
    padding: 0px 5px;
	text-align: left;
    font-size: 1.3em;
    font-weight: normal;
	background: white;
}

#setup {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	text-align: center;
	border: 1px black solid;
	background: white;
}
	
#videos {
	position: relative;
	float: left;
	width: 1000px;
}

.video-content {
	width: 500px;
}

.activity-content {
	position: absolute;
	left: 490px;
	top: 0px;
	bottom: 0px;
	width: 500px;	
}

#fam-camera-wrapper {
	background: url("/images/vid_background.png") no-repeat bottom right;
	margin: 10px 0px 0px 8px;
	position: absolute;
	width: 470px;
	height: 410px;
}

#fam-camera-holder {
	background: black;
	width: 470px;
	height: 410px;
	margin: 5px 5px;
}

#my-camera-wrapper {
	text-align: center;
}

#my-camera-holder {
	/*background: url("/images/blue_box_frame.png") no-repeat;*/
	width: 225px;
	height: 185px;
	margin: 0px auto;
	text-align: center;
}

#my-camera {
	padding: 5px 5px;
}

.activity-content .book-image {
	text-align: center;
}
.activity-content .book-text {
	text-align: justify;
	font-size: 18px;
}
.activity-content .book-nav {
	padding: 5px 10px 5px 10px;
	text-align: center;
	font-size: 1.5em;
}

.page-num-text {
	font-size: 14px;
}

.book-image img {
	height: 300px;
}



