
/* DEFAULT
-------------------------------------------------------------------------  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
	color: #536376;
}

html, body {
	height: 100%;
}

body {
	overflow: hidden;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

form, fieldset, label, input, .checkbox, textarea, select, option, form div {
    margin: 0;
    padding: 0;
}

/* SCAFFOLD 
-------------------------------------------------------------------------  */

#notice {
  color: green;
}

.field-with-errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error-explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error-explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error-explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* BASICS
-------------------------------------------------------------------------  */
a, a:visited {
    color: #539AB7;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #539AB7;
}

p { 
	font-family: 'Lato', sans-serif;
	line-height: 1.4em; 
}

h1 {
    color: #539AB7; 
	font-size: 32px;
	font-weight: bold;
	line-height: 40px;
}

h1.smaller {
    margin: 20px 0 15px 0;
    font-size: 2.5em;
    color: #AAA;
}

h2 {
    margin: 0;
    font-size: 22px;
	line-height: 32px;
	color: #536376;
}

h3 {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
}

h4 {
    padding: 5px 0;
    font-size: 13px;
    font-weight: normal;
}

ul { 
    display: block;
    margin-bottom: 15px;
}

ul li {
    list-style-type: disc;
    margin: 5px 5px 5px 15px;
}

li { line-height: 1.5em; }

.section {
    margin: 0px 0px 15px 0px;
    padding: 0;
    overflow: hidden;
}

input.text, 
input[type="search"], 
input[type="text"], 
input[type="email"], 
input[type="password"] {
	width: 300px;
	padding: 6px 4px;
	margin-bottom: 10px;
	font-size: 16px;
}

textarea {
	margin-bottom: 10px;
	padding: 6px 4px;
}

label {
	font-size: 14px;
	padding-bottom: 2px;
}

.loading {
	background: url('/images/crank_loader.gif') no-repeat center center;
	width: 33px;
	height: 33px;
	padding: 15px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
}

/* LIGHTBOX
-------------------------------------------------------------------*/

.lightbox {
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 400px;
		min-height: 50px;
        position: relative;
		font-size: 1.3em;
    }

.close {
}

.close-x {
	position: absolute;
	top: 5px;
	right: 5px;
}

.lightbox-scientist-img {
	width: 100px;
	padding-right: 8px;
}

.lightbox-content {
	padding-left: 110px;
}

.lightbox-content input[type="submit"] {
	font-size: 12px;;
}

#feedback-lightbox {
	width: 475px;
}

#feedback-lightbox img {
	padding-bottom: 50px;
}

#feedback-lightbox .lightbox-content div {
	width: 300px;
	padding: 8px 10px;
}

#feedback-lightbox label {
	display: inline;
	padding-right: 15px;
}

#feedback-lightbox input[type="radio"] {
	margin-right: 5px;
	margin-top: -3px;
}

#feedback-lightbox .radio-label {
	padding: 15px 0px;
}

#feedback-lightbox .lightbox-content #thank-you h3 {
	line-height: 1.2em;
}

#feedback-lightbox .lightbox-content #thank-you p {
	padding-top: 10px;
	color: #539AB7;
}

#join-lightbox {
	text-align: center;
}


/* RIBBON
-------------------------------------------------------------------*/

div.ribbon {
	display: inline-block;
	white-space: nowrap;
	height: 66px;
}


.user-profile div.ribbon-left { 
	background: url("/images/ribbon_left.png") no-repeat;
	left: 0; 
	width: 44px; 
} 

.user-profile div.ribbon-middle { 
	background: url("/images/ribbon_middle.png") repeat-x;
	left: 44px;
	vertical-align: top;
	padding-top: 20px;
	margin: 0px -5px 0px -3px;
	
	color: #88331C;
	font-size: 20pt;
	text-shadow: 1px 1px 1px #F9A161;
	font-family: 'Comfortaa', sans-serif;
} 
	
.user-profile div.ribbon-right { 
	background: url("/images/ribbon_right.png") no-repeat;
	right: 0; 
	width: 44px; 
}

/* LAYOUT --------------------------------------------------------- */

.mainContainer {
    width: 1024px;
	width: 100%;
	height: 100%;
    margin: 0px auto;
	overflow: auto;
}

.header {
	background: white;
	padding: 5px 5px 0px 5px;
}

.logo {
	padding-top: 9px;
	padding-left: 5px;
	width: 200px;
}

img#scientistImage {
	width: 40px;
	margin-bottom: -5px;
}

#mainContent {
	text-align: left;
    font-size: 1.3em;
    font-weight: normal;
	background: black;
	min-height: 300px;
	position: relative;
}

.content {
	padding: 20px 60px 60px;
	position: relative;
}

.content form {
	float: left;
}

/* DIALPAD --------------------------------------------------------- */

.user-profile {
	background: url('/images/dialpad_bg.jpg') no-repeat center center; 
	text-align: center;
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	position: relative;
}

.clouds {
	position: absolute;
	height: 292px;
	width: 1124px;
	top: 0;
	left: 0;
	background: url('/images/dialpad_clouds_bg.png') no-repeat center center; 	
}

.dialpad {
	width: 800px;
	margin: 0 auto;
}

.dialpad-header {
	position: relative;
	height: 140px;
	text-align: center;
	padding-top: 26px;
}

.dialpad-ribbon {
	text-align: center;
	margin-top: 15px;
}

.friends {
	margin: 40px auto;
}

div.friend {
	display: inline-block;
	margin: 16px;
	width: 170px;
	height: 165px;
	text-align: center;
	border-radius: 6px;
	-moz-border-radius: 6px;
	position: relative;
}

.friend .friend-item {
	width: 171px;
	height: 168px;
	border-radius: 6px;
	position: absolute;
	top: 3px;
	left: 2px;
}

.friends .presence {
	z-index: 100;
	width: 176px;
	height: 173px;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 0;
}

.offline {
	cursor: default;
}

.my-profile {
	position: absolute;
	top: 4px;
	left: 110px;
}

.small-user {
	padding: 0px 3px;
	width: 85px;
	height: 83px;
	display: inline-block;
	border-radius: 6px;
}

.my-profile div {
	display: inline-block;
}

/* DIALPAD SPRITE */

.user-profile .sprite, .user-profile p a {
	background: url("/images/dialpad_sprite.png") no-repeat;
}

.friend p a {
	width: 171px;
	height: 166px;
	display: inline-block;
	height: 173px;
}
.friend p a#add-friend { background-position: 0 -450px;}
.friend p a:active#add-friend {  background-position: 0 -628px; }

div#no-profile { background-position: 0 -270px; }


/* PLAYDATE
-------------------------------------------------------------------*/

.appContainer {
    width: 1024px;
	height: 100%;
    margin: 0px auto;
	overflow: hidden;
}

.row {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
}

/* VIDEO --------------------------------------------------------- */
	
#playdate-container {
	position: absolute;
	margin: 0px auto;
	text-align: center;
	width: 1024px;
	height: 100%;
	overflow: hidden;
	background-color:#d8dce1;
	background: -moz-linear-gradient(center top, #d8dce1, #a2afb7 46%, #eff0f4);
	background: -webkit-gradient(linear, center top, center bottom, from(#d8dce1), color-stop(46%, #a2afb7), to(#eff0f4));
}

.video-content {
	text-align: center;
}

.video-content.row {
	height: 130px;
	top: 0;
}

.chat-window-container {
	position: relative;
	width: 410px;
	min-height: 10px;
	bottom: 0px;
}

.chat-window-container img {
	position: absolute;
	top: 0px;
	left: -200px;
	z-index: 1;
}

#fam-camera-holder {
	background: black;
	border: 1px solid #555;
	width: 200px;
	height: 130px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#my-camera {
	background: black;
	border: 1px solid #555;
	width: 200px;
	height: 130px;
	position: absolute;
	top: 0px;
	left: 205px;
}

.left-button {
	position: absolute;
	left: 20px;	
}

.right-button {
	position: absolute;
	right: 20px;
}

.snapshot-controls a {
	display: block;
	margin-top: 12px;
	width: 90px;
	height: 100px;
}

.video-content p a, #toybox-drawer p a, .book-nav p a {
	background: url("/images/sprite_sheet.png") no-repeat;
	display: block;
}

/* ACTIVITY --------------------------------------------------------- */

.activity-content {
	text-align: center;	
}

.activity-content.row {
	top: 150px;
	bottom: 60px;
}

/* BOOK FLIP --------------------------------------------------------- */

#book {
	/*background: url("/images/book.jpg") no-repeat;*/
	width: 1000px;
	height: 470px;
	margin: 0 auto;
}

#pages {
	width: 1000px;
}

.book-image {
	text-align: center;
}

.book-image img {
	max-height: 280px;
	max-width: 400px;
}

.book-text {
	text-align: justify;
	font-size: 14px;
	padding: 0px 15px;
	width: 500px;
	margin: 0 auto;
}

.book-text p {
	color: black;
}

.book-nav {
	text-align: center;
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	z-index: 101;
	width: 100%;
}

.previous-container {
	left: 15px;
	position: absolute;
}

.next-container {
	right: 15px;
	position: absolute;
}

p a#previous-link {
	width: 48px;
	height: 50px;
	background-position: -285px -177px;
}
p a#previous-link:hover { background-position: -285px -227px; }

p a#next-link {
	width: 48px;
	height: 50px;
	background-position: -332px -177px;
}
p a#next-link:hover { background-position: -332px -227px; }

.book-nav-inner {
	position: relative; 
	top: -50%
}

.page-num-text {
	font-size: 14px;
}

.back-cover {
	position: absolute;
	top: 0;
	left: 50%;
	min-height: 540px;
	min-width: 500px;
}

.beginning-container {
	position: absolute;
	top: 5px;
	left: 393px;
}

.beginning-container p a {
	width: 200px;
	height: 60px;
}

.beginning-text-container {
	position: absolute;
	top: 16px;
	left: 20px;
}

.beginning-text-container p a {
	height: 25px;
}

#finger {
	position: absolute;
}

/* KEEPSAKE --------------------------------------------------------- */
#slide-keepsake .keepsake {
	left: 440px;
}

#keepsake-container div {
	left: 1500px;
}

.keepsake {
	position: absolute;
	min-height: 530px;
	width: 414px;
}

.keepsake {
	background: url("/images/frame_little-red-riding-hood.jpg") no-repeat 0 0;	
}

#keepsake-container .keepsake {
	background: url("/images/frame_little-red-riding-hood.jpg") no-repeat 13px 52px;	
}

.keepsake img {
	position: absolute;
	width: 183px;
}

.myCam-keepsake {
	top: 104px;
	left: 29px;
}

.famCam-keepsake {
	top: 104px;
	left: 215px;
}

#book-keepsake .myCam-keepsake {
	top: 52px;
	left: 16px;
}

#book-keepsake .famCam-keepsake {
	top: 52px;
	left: 212px;
}


#book-keepsake {
	top: 100px;
	left: 75px;
}

/* BOTTOM DRAWER --------------------------------------------------------- */

#toybox-drawer {
	text-align: center;
	width: 1024px;
	z-index: 1000;
	height: 284px;
}

#toybox-drawer.row {
	bottom: -284px;
}

.shelf_bg {
	position: absolute;
	height: 284px;
	top: 44px;
	z-index: -1;
}

.shelf_left_bg {
	background: url("/images/drawer_left_bg.jpg") no-repeat 0 0;
	width: 500px;
	left: 0px;
}

.shelf_mid_bg {
	background: url("/images/drawer_middle_bg.jpg") repeat 0 0;	
	left: 500px;
	right: 500px;
}

.shelf_right_bg {
	background: url("/images/drawer_right_bg.jpg") no-repeat 0 0;	
	width: 500px;
	right: 0px;
}

#links {
	background: url("/images/drawer_background.jpg") repeat 0 0;
	min-height: 50px;
}

#links p {
	display: inline-block;
}

#links p a {
	height: 38px;
	width: 38px;
	margin-top: 8px;
}

.playdate-controls .left-button {
	position: absolute;
	left: 64px;	
}

.playdate-controls .right-button {
	position: absolute;
	right: 164px;
	width: 200px;
	height: 150px;
}

.playdate-controls a {
	display: block;
	margin-bottom: 8px;
}

.items {
	z-index: 100;
}

/* LIBRARY --------------------------------------------------------- */

.library-item {
	width: 140px;
	padding-right: 5px;
	display: inline-block;
	vertical-align: bottom;
}

.library-item img {
	width: 125px;
}

/* SPRITES --------------------------------------------------------- */

#playdate-container p a#reconnect-link { background-position: -332px 0px; }
#playdate p a:hover#reconnect-link { background-position: -332px -60px; }

#playdate-container p a#disconnect-link { background-position: -280px 0px; }
#playdate-container p a:hover#disconnect-link { background-position: -280px -60px; }

#playdate-container p a#snapshot-link { background-position: -24px -496px; }
#playdate-container p a:active#snapshot-link { background-position: -24px -368px; }

#playdate-container p a#toybox-link { background-position: -9px -6px; }
#playdate-container p a:hover#toybox-link { background-position: -9px -50px; }
#playdate-container p a:active#toybox-link { background-position: -9px -95px; }

#playdate-container p a#contacts-link {	background-position: -77px -89px; }
#playdate-container p a:hover#contacts-link { background-position: -77px -45px; }

#playdate-container p a#keepsakes-link { background-position: -171px -6px; }
#playdate-container p a:hover#keepsakes-link { background-position: -162px -40px; }

#playdate-container p a#audio-toggle { background-position: -700px 0px; }

.beginning-container p a#beginning-banner { background-position: -389px -16px; }

.beginning-container p a#beginning-link { background-position: -385px -77px; }
.beginning-container p a:hover#beginning-link { background-position: -385px -105px; }


/* LANDING PAGE --------------------------------------------------------- */

.landingpage {
	background: url("/images/grey.jpg") no-repeat;
	background-repeat:repeat;
	overflow: auto;
	min-width:1024px;
	min-height:100%;
	width:100%;
	text-align: center;
}


.landingpage p {
	text-align:center;
	font-size:1.3em;
	line-height:150%;
	font-style:normal;
	font-family:Delius, Helvetica, sans-serif;
}

.family img {
	width: 656px;
	height: 497px;
	margin: 10px 20px 0px 0px;
	vertical-align:top;
	border: solid 15px #8E8E8E;
}

.survey-form {
	height: 728px;
	width: 310px;
	margin: 10px 0px 0px 0px;
	vertical-align:top;
	padding: 5px;
	background-color:#FFD100;
	border: solid 15px #B29201;
}

.bottom-box {
	height: 180px;
	width: 282px;
	border: solid 15px;
	vertical-align:top;
	margin: 20px 20px 0px 0px;
	padding: 10px 10px;
}

.sign-up {
	background-color: #38BAE3;
	border-color: #27829E;
}

.login {
	background-color:#A5BE02;
	border-color: #738501;	
}

button.green2, input[type="submit"].green2 {
  color: #515902;
  background: #A5BE02;
  font-size:16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#738501), to(#C0D24D));
  background: -moz-linear-gradient(top, #738501, #C0D24D);
  border-color: #738501 #738501 #738501 #738501;
  -webkit-box-shadow: inset 0 1px 1px #CDE2B2;
  -moz-box-shadow: inset 0 1px 1px #CDE2B2;
  text-shadow: 0 1px 1px #C9DBB4; 
}

.login input[type="password"], input[type="text"], input[type="email"] {
  width: 155px;
  margin: 8px;
}

.sign-up input[type="email"] {
	width: 250px;
  	margin: 8px;
}

/* NEW LANDING PAGE */
.landing-page {
	overflow: auto;
	min-width:1024px;
	min-height:100%;
	width:100%;
	text-align: center;
}

.landing-page p {
	font-family: 'Lato', sans-serif;	
	font-size: 14px;
}

.landing-page h3 {
	font-family: 'Quicksand', sans-serif;
}

.nav {
	line-height: 5em;
	padding: 5px 10px 5px 100px;
	position: fixed;
	background: white; /*url("/images/nav_bg.png") repeat;*/
	width: 100%;
}

.nav img {
	vertical-align: middle;
}

.nav ul {
	display: inline;
	padding-left: 300px;
}

.nav ul li {
	display: inline;
	list-style-type: none;
	padding-right: 7px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

#block-splash {
	overflow: hidden;
	
	background: #1e5799; /* Old browsers */
	background: -moz-radial-gradient(left, ellipse cover, #1e5799 0%, #2989d8 57%, #207cca 81%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, left center, 0px, left center, 100%, color-stop(0%,#1e5799), color-stop(57%,#2989d8), color-stop(81%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(left, ellipse cover, #1e5799 0%,#2989d8 57%,#207cca 81%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(left, ellipse cover, #1e5799 0%,#2989d8 57%,#207cca 81%,#7db9e8 100%); /* Opera 12+ */
	background: -ms-radial-gradient(left, ellipse cover, #1e5799 0%,#2989d8 57%,#207cca 81%,#7db9e8 100%); /* IE10+ */
	background: radial-gradient(left, ellipse cover, #1e5799 0%,#2989d8 57%,#207cca 81%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#block-splash img {
}

.landing-page .alpha-sign-up {
	
}

.alpha-sign-up input[type="email"] {
	width: 250px;
  	margin: 8px;
	font-family: 'Lato', sans-serif;
}



/* I-SPY --------------------------------------------------------- */

.ispy-container {
	background: url("/images/ispy_bg.png") no-repeat center;
	min-height: 530px;	
}

.ispy-container div.ispy-item {
	display: inline-block;
	position: absolute;
	background: url("/images/ispy_sprite_sheet.png") no-repeat;
	
}

.ispy-container p a {
	background: url("/images/ispy_sprite_sheet.png") no-repeat;
	position: absolute;
	-webkit-transition: -webkit-transform .2s;
}

.ispy-container div#ispy_0 { background-position: 0 0; width: 94px; height: 126px; left: 515px; top: 5px; }
.ispy-container div#ispy_0.selected { background-position: 0 -127px; width: 94px; height: 126px; left: 515px; top: 5px; }

.ispy-container div#ispy_1 { background-position: 0 -254px; width: 230px; height: 241px; left: 360px; top: 102px; } 
.ispy-container div#ispy_1.selected { background-position: 0 -496px; width: 230px; height: 241px; left: 360px; top: 102px; } 

.ispy-container div#ispy_2 { background-position: 0 -1229px; width: 59px; height: 52px; left: 580px; top: 130px; } 
.ispy-container div#ispy_2.selected { background-position: 0 -1282px; width: 59px; height: 52px; left: 580px; top: 130px; } 

.ispy-container div#ispy_3 { background-position: 0 -883px; width: 136px; height: 96px;  left: 548px; top: 193px; } 
.ispy-container div#ispy_3.selected { background-position: 0 -980px; width: 136px; height: 96px;  left: 548px; top: 193px; } 

.ispy-container div#ispy_4 { background-position: 0 -738px; width: 158px; height: 71px; left: 481px; top: 279px; } 
.ispy-container div#ispy_4.selected { background-position: 0 -810px; width: 158px; height: 72px; left: 481px; top: 279px; } 

.ispy-container div#ispy_5 { background-position: 0 -1335px; width: 98px; left: 646px; top: 393px; } 
.ispy-container div#ispy_5.selected { background-position: 0 -1404px; width: 100px; height: 70px; left: 646px; top: 393px; } 

.ispy-container div#ispy_6 { background-position: 0 -1654px; width: 212px; height: 178px; left: 424px; top: 341px; } 
.ispy-container div#ispy_6.selected { background-position: 0 -1475px; width: 212px; height: 178px; left: 424px; top: 341px; } 

.ispy-container div#ispy_7 { background-position: 0 -1077px; width: 104px; height: 75px; left: 629px; top: 318px; }
.ispy-container div#ispy_7.selected { background-position: 0 -1153px; width: 104px; height: 75px; left: 629px; top: 318px; }

.ispy-container div#ispy_8 { background-position: 0 -1833px; width: 92px; height: 53px; left: 332px; top: 346px; }
.ispy-container div#ispy_8.selected { background-position: 0 -1887px; width: 92px; height: 53px; left: 332px; top: 346px; }

.ispy-results {
	background-color: #eaeaea;
	width: 300px;
	height: 300px;
	line-height: 300px;
	text-align: center;
	margin: 100px 200px;
	padding: 0px 50px;
	opacity: .8;
}

.ispy-results p {
	font-size: 36px;
	color: #45C3CF;
	font-family: "Georgia", serif;
}