
/* DEFAULT
-------------------------------------------------------------------------  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
	color: #536376;
}

html, body {
	height: 100%;
}

body {
	overflow: hidden;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

form, fieldset, label, input, .checkbox, textarea, select, option, form div {
    margin: 0;
    padding: 0;
}

/* SCAFFOLD 
-------------------------------------------------------------------------  */

#notice {
  color: green;
}

.field-with-errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error-explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error-explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error-explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* BASICS
-------------------------------------------------------------------------  */
a, a:visited {
    color: #539AB7;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #539AB7;
}

p { line-height: 1.4em; }

h1 {
    color: #539AB7; 
	font-size: 32px;
	font-weight: bold;
	line-height: 40px;
}

h1.smaller {
    margin: 20px 0 15px 0;
    font-size: 2.5em;
    color: #AAA;
}

h2 {
    margin: 0;
    font-size: 22px;
	line-height: 32px;
	color: #536376;
}

h3 {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
}

h4 {
    padding: 5px 0;
    font-size: 13px;
    font-weight: normal;
}

ul { 
    display: block;
    margin-bottom: 15px;
}

ul li {
    list-style-type: disc;
    margin: 5px 5px 5px 15px;
}

li { line-height: 1.5em; }

.section {
    margin: 0px 0px 15px 0px;
    padding: 0;
    overflow: hidden;
}

input.text, 
input[type="search"], 
input[type="text"], 
input[type="email"], 
input[type="password"] {
	width: 300px;
	padding: 6px 4px;
	margin-bottom: 10px;
	font-size: 16px;
}

textarea {
	margin-bottom: 10px;
	padding: 6px 4px;
}

label {
	font-size: 14px;
	padding-bottom: 2px;
}

.loading {
	background: url('/images/ajax-loader.gif') no-repeat center center;
	width: 20px;
	height: 20px;
	padding: 15px;
}

/* LIGHTBOX
-------------------------------------------------------------------*/

.lightbox {
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 400px;
		min-height: 50px;
        position: relative;
		font-size: 1.3em;
    }

.close {
}

.close-x {
	position: absolute;
	top: 5px;
	right: 5px;
}

.lightbox-scientist-img {
	width: 100px;
	padding-right: 8px;
}

.lightbox-content {
	padding-left: 110px;
}

.lightbox-content input[type="submit"] {
	font-size: 12px;;
}

#feedback-lightbox {
	width: 475px;
}

#feedback-lightbox img {
	padding-bottom: 50px;
}

#feedback-lightbox .lightbox-content div {
	width: 300px;
	padding: 8px 10px;
}

#feedback-lightbox label {
	display: inline;
	padding-right: 15px;
}

#feedback-lightbox input[type="radio"] {
	margin-right: 5px;
	margin-top: -3px;
}

#feedback-lightbox .radio-label {
	padding: 15px 0px;
}

#feedback-lightbox .lightbox-content #thank-you h3 {
	line-height: 1.2em;
}

#feedback-lightbox .lightbox-content #thank-you p {
	padding-top: 10px;
	color: #539AB7;
}

#join-lightbox {
	text-align: center;
}

/* LAYOUT --------------------------------------------------------- */

.mainContainer {
	width: 100%;
	height: 100%;
    margin: 0px auto;
	overflow: auto;
}

.header {
	background: white;
	padding: 5px 5px 0px 5px;
}

.logo {
	padding-top: 9px;
	padding-left: 5px;
	width: 200px;
}

img#scientistImage {
	width: 40px;
	margin-bottom: -5px;
}

#mainContent {
	text-align: left;
    font-size: 1.3em;
    font-weight: normal;
	background: black;
	min-height: 300px;
	position: relative;
}

.content {
	padding: 20px 60px 60px;
	position: relative;
}

.content form {
	float: left;
}

.friends {
	width: 1000px;
	margin: 0px auto;
}

div.friend {
	display: inline-block;
	vertical-align: top;
	padding: 3px;
	background: url("/images/dialpad_bg.png") no-repeat 0 0;	
	min-width: 294px;
	height: 296px;
	line-height: 296px;
	text-align: center;
}

.friends input[type="submit"] {
	background-color: transparent;
	background: none;
	box-shadow: none;
	-moz-bok-shadow: none;
	border: none;
	font-family: "Georgia", serif;
	font-size: 52px;
	color: #ded300;
	font-weight: normal;
	margin-top: -50%;
}

.friends input[type="submit"]:hover {
	cursor: pointer;
	text-decoration: underline;
}

.friend img {
	vertical-align: middle;
}

/* WEB APP
-------------------------------------------------------------------*/

.appContainer {
	width: 100%;
	height: 100%;
    margin: 0px auto;
	overflow: hidden;
}

.row {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
}

/* VIDEO --------------------------------------------------------- */
	
#videos {
	position: absolute;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color:#d8dce1;
	background: -moz-linear-gradient(center top, #d8dce1, #a2afb7 46%, #eff0f4);
	background: -webkit-gradient(linear, center top, center bottom, from(#d8dce1), color-stop(46%, #a2afb7), to(#eff0f4));
}

.video-content {
	text-align: center;
}

.video-content.row {
	height: 152px;
	top: 0;
}

.chat-window-container {
	position: relative;
	width: 410px;
	min-height: 10px;
	bottom: 0px;
}

.chat-window-container img {
	position: absolute;
	top: 0px;
	left: -200px;
	z-index: 1;
}

#fam-camera-holder {
	background: black;
	border: 1px solid #555;
	width: 200px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#my-camera {
	background: black;
	border: 1px solid #555;
	width: 200px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 205px;
}

.left-button {
	position: absolute;
	left: 20px;	
}

.right-button {
	position: absolute;
	right: 20px;
}

.video-controls a {
	display: block;
	margin-top: 12px;
}

.snapshot-controls a {
	display: block;
	margin-top: 12px;
	width: 90px;
	height: 100px;
}

.video-content p a, #bottom-drawer p a, .book-nav p a {
	background: url("/images/sprite_sheet.png") no-repeat;
	display: block;
}

.video-controls p a {
	height: 60px;
	width: 51px;
}

/* ACTIVITY --------------------------------------------------------- */

.activity-content {
	text-align: center;	
}

.activity-content.row {
	top: 150px;
	bottom: 60px;
}

/* BOOK FLIP --------------------------------------------------------- */

#book {
	background: url("/images/book.jpg") no-repeat;
	position: absolute;
	width: 1200px;
	height: 470px;
}

#pages section {
	background: url("/images/paper.jpg") no-repeat;
	display: block;
	width: 576px;
	height: 456px;
	position: absolute;
	left: 600px;
	top: 7px;
	overflow: hidden;
}
#pages section.last-page {
	background: none;
	width: 596px;
}

	#pages section>div {
		display: block;
		width: 576px;
		height: 456px;
		font-size: 12px;
	}
	#pages section p,
	#pages section h2 {
		padding: 3px 35px;
		line-height: 1.4em;
		text-align: justify;
	}
	#pages section h2{
		margin: 15px 0 10px;
	}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}	

.book-image {
	text-align: center;
}

.book-image img {
	max-height: 280px;
	max-width: 400px;
}

.book-text {
	text-align: justify;
	font-size: 14px;
	padding: 0px 15px;
}

.book-text p {
	color: black;
}

.book-nav {
	text-align: center;
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	z-index: 101;
	width: 100%;
}

.previous-container {
	left: 15px;
	position: absolute;
}

.next-container {
	right: 15px;
	position: absolute;
}

p a#previous-link {
	width: 48px;
	height: 50px;
	background-position: -285px -177px;
}
p a#previous-link:hover { background-position: -285px -227px; }

p a#next-link {
	width: 48px;
	height: 50px;
	background-position: -332px -177px;
}
p a#next-link:hover { background-position: -332px -227px; }

.book-nav-inner {
	position: relative; 
	top: -50%
}

.page-num-text {
	font-size: 14px;
}

.back-cover {
	position: absolute;
	top: 0;
	left: 50%;
	min-height: 540px;
	min-width: 500px;
}

.beginning-container {
	position: absolute;
	top: 5px;
	left: 393px;
}

.beginning-container p a {
	width: 200px;
	height: 60px;
}

.beginning-text-container {
	position: absolute;
	top: 16px;
	left: 20px;
}

.beginning-text-container p a {
	height: 25px;
}

/* KEEPSAKE --------------------------------------------------------- */
#keepsake-container div {
	left: 1500px;
}

.keepsake {
	position: absolute;
	min-height: 530px;
	width: 414px;
}

.keepsake {
	background: url("/images/frame_little-red-riding-hood.jpg") no-repeat 0 0;	
}

#keepsake-container .keepsake {
	background: url("/images/frame_little-red-riding-hood.jpg") no-repeat 13px 52px;	
}

.keepsake img {
	position: absolute;
	width: 183px;
}

.myCam-keepsake {
	top: 104px;
	left: 29px;
}

.famCam-keepsake {
	top: 104px;
	left: 215px;
}

#book-keepsake .myCam-keepsake {
	top: 52px;
	left: 16px;
}

#book-keepsake .famCam-keepsake {
	top: 52px;
	left: 212px;
}


#book-keepsake {
	top: 100px;
	left: 75px;
}

/* LIBRARY --------------------------------------------------------- */

.library-item {
	width: 140px;
	padding-right: 5px;
	display: inline-block;
	vertical-align: bottom;
}

.library-item img {
	width: 125px;
}

/* BOTTOM DRAWER --------------------------------------------------------- */

#bottom-drawer {
	text-align: center;
	min-width: 1000px;
	z-index: 1000;
}

#bottom-drawer.row {
	bottom: -164px;
}

.shelf_bg {
	position: absolute;
	height: 205px;
	top: 44px;
	z-index: -1;
}

.shelf_left_bg {
	background: url("/images/drawer_left_bg.jpg") no-repeat 0 0;
	width: 500px;
	left: 0px;
}

.shelf_mid_bg {
	background: url("/images/drawer_middle_bg.jpg") repeat 0 0;	
	left: 500px;
	right: 500px;
}

.shelf_right_bg {
	background: url("/images/drawer_right_bg.jpg") no-repeat 0 0;	
	width: 500px;
	right: 0px;
}

.items {
	z-index: 100;
}

#links {
	background: url("/images/drawer_background.jpg") repeat 0 0;
	min-height: 50px;
}

#links p {
	display: inline-block;
}

#links p a {
	height: 38px;
	width: 38px;
	margin-top: 8px;
}

/* SPRITES --------------------------------------------------------- */

#videos p a#reconnect-link { background-position: -332px 0px; }
#videos p a:hover#reconnect-link { background-position: -332px -60px; }

#videos p a#disconnect-link { background-position: -280px 0px; }
#videos p a:hover#disconnect-link { background-position: -280px -60px; }

#videos p a#snapshot-link { background-position: -24px -496px; }
#videos p a:active#snapshot-link { background-position: -24px -368px; }

#videos p a#toybox-link { background-position: -9px -6px; }
#videos p a:hover#toybox-link { background-position: -9px -50px; }
#videos p a:active#toybox-link { background-position: -9px -95px; }

#videos p a#contacts-link {	background-position: -77px -89px; }
#videos p a:hover#contacts-link { background-position: -77px -45px; }

#videos p a#keepsakes-link { background-position: -171px -6px; }
#videos p a:hover#keepsakes-link { background-position: -162px -40px; }

#videos p a#audio-toggle { background-position: -700px 0px; }

.beginning-container p a#beginning-banner { background-position: -389px -16px; }

.beginning-container p a#beginning-link { background-position: -385px -77px; }
.beginning-container p a:hover#beginning-link { background-position: -385px -105px; }


/* LANDING PAGE --------------------------------------------------------- */

.landingpage {
	background: url("/images/grey.jpg") no-repeat;
	background-repeat:repeat;
	overflow: auto;
	min-height:100%;
	width:100%;
	text-align: center;
}


.landingpage p {
	text-align:center;
	font-size:1.3em;
	line-height:150%;
	font-style:normal;
	font-family:Delius, Helvetica, sans-serif;
}

.family img {
	width: 656px;
	height: 497px;
	margin: 10px 20px 0px 0px;
	vertical-align:top;
	border: solid 15px #8E8E8E;
}

.survey-form {
	height: 728px;
	width: 310px;
	margin: 10px 0px 0px 0px;
	vertical-align:top;
	padding: 5px;
	background-color:#FFD100;
	border: solid 15px #B29201;
}

.bottom-box {
	height: 180px;
	width: 282px;
	border: solid 15px;
	vertical-align:top;
	margin: 20px 20px 0px 0px;
	padding: 10px 10px;
}

.sign-up {
	background-color: #38BAE3;
	border-color: #27829E;
}

.login {
	background-color:#A5BE02;
	border-color: #738501;	
}

button.green2, input[type="submit"].green2 {
  color: #515902;
  background: #A5BE02;
  font-size:16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#738501), to(#C0D24D));
  background: -moz-linear-gradient(top, #738501, #C0D24D);
  border-color: #738501 #738501 #738501 #738501;
  -webkit-box-shadow: inset 0 1px 1px #CDE2B2;
  -moz-box-shadow: inset 0 1px 1px #CDE2B2;
  text-shadow: 0 1px 1px #C9DBB4; 
}

.login input[type="password"], input[type="text"], input[type="email"] {
  width: 155px;
  margin: 8px;
}

.sign-up input[type="email"] {
	width: 250px;
  	margin: 8px;
}
