/* I-SPY --------------------------------------------------------- */

.ispy-container {
	background: url("../images/ispy_bg.png") no-repeat center;
	min-height: 530px;	
}

.ispy-container div.ispy-item {
	display: inline-block;
	position: absolute;
	background: url("../images/ispy_sprite_sheet.png") no-repeat;
	
}

.ispy-container p a {
	background: url("../images/ispy_sprite_sheet.png") no-repeat;
	position: absolute;
	-webkit-transition: -webkit-transform .2s;
}

.ispy-container div#ispy_0 { background-position: 0 0; width: 94px; height: 126px; left: 515px; top: 5px; }
.ispy-container div#ispy_0.selected { background-position: 0 -127px; width: 94px; height: 126px; left: 515px; top: 5px; }

.ispy-container div#ispy_1 { background-position: 0 -254px; width: 230px; height: 241px; left: 360px; top: 102px; } 
.ispy-container div#ispy_1.selected { background-position: 0 -496px; width: 230px; height: 241px; left: 360px; top: 102px; } 

.ispy-container div#ispy_2 { background-position: 0 -1229px; width: 59px; height: 52px; left: 580px; top: 130px; } 
.ispy-container div#ispy_2.selected { background-position: 0 -1282px; width: 59px; height: 52px; left: 580px; top: 130px; } 

.ispy-container div#ispy_3 { background-position: 0 -883px; width: 136px; height: 96px;  left: 548px; top: 193px; } 
.ispy-container div#ispy_3.selected { background-position: 0 -980px; width: 136px; height: 96px;  left: 548px; top: 193px; } 

.ispy-container div#ispy_4 { background-position: 0 -738px; width: 158px; height: 71px; left: 481px; top: 279px; } 
.ispy-container div#ispy_4.selected { background-position: 0 -810px; width: 158px; height: 72px; left: 481px; top: 279px; } 

.ispy-container div#ispy_5 { background-position: 0 -1335px; width: 98px; left: 646px; top: 393px; } 
.ispy-container div#ispy_5.selected { background-position: 0 -1404px; width: 100px; height: 70px; left: 646px; top: 393px; } 

.ispy-container div#ispy_6 { background-position: 0 -1654px; width: 212px; height: 178px; left: 424px; top: 341px; } 
.ispy-container div#ispy_6.selected { background-position: 0 -1475px; width: 212px; height: 178px; left: 424px; top: 341px; } 

.ispy-container div#ispy_7 { background-position: 0 -1077px; width: 104px; height: 75px; left: 629px; top: 318px; }
.ispy-container div#ispy_7.selected { background-position: 0 -1153px; width: 104px; height: 75px; left: 629px; top: 318px; }

.ispy-container div#ispy_8 { background-position: 0 -1833px; width: 92px; height: 53px; left: 332px; top: 346px; }
.ispy-container div#ispy_8.selected { background-position: 0 -1887px; width: 92px; height: 53px; left: 332px; top: 346px; }

.ispy-results {
	background-color: #eaeaea;
	width: 300px;
	height: 300px;
	line-height: 300px;
	text-align: center;
	margin: 100px 200px;
	padding: 0px 50px;
	opacity: .8;
}

.ispy-results p {
	font-size: 36px;
	color: #45C3CF;
	font-family: "Georgia", serif;
}