
<div class="friends">
	<% for friend in @current_user.allFriends %>
		<div class="friend">
			<%= form_tag playdate_path, :html => {:class => 'playdate_form'} do %>
				<%= hidden_field_tag 'friend_id', friend.id, :id => 'friend_id' %>
				<%= link_to friend.username, "#", :id => "create-playdate", :onclick=>"$('.playdate_form').submit()" %>
			<% end %>
		</div>
	<% end %>
	<div class="friend" id="add-friend"><%= image_tag "add_person.png" %></div>
</div>