
<h2>My Playmates</h2>
<ul>
	<% for friend in @current_user.allFriends %>
	<li>
		<%=h friend.username %> 
		<%= form_tag playdate_path do %>
			<%= hidden_field_tag 'friend_id', friend.id, :id => 'friend_id' %>
			<%= submit_tag 'Start Video Playdate', :class => "default", :id => "create-playdate" %>
		<% end %>
	</li>
	<% end %>
</ul>
