
<div class="friends">
	<% for friend in @current_user.allFriends %>
		<div class="friend">
			<%= form_tag playdate_path do %>
				<%= hidden_field_tag 'friend_id', friend.id, :id => 'friend_id' %>
				<%= image_submit_tag 'dialpad_'+friend.username+".png", :id => "create-playdate" %>
			<% end %>
		</div>
	<% end %>
	<div class="friend" id="add-friend"><%= image_tag "add_person.png" %></div>
</div>