
	<%= render :partial => "friends" %>

<h3>Add Friends</h3>
<ul>
	<% for player in @players %>
		<li>
			<%=h player.username %> <%= link_to "Add as friend", friendships_path(:friend_id => player), :method => :post %>
		</li>
	<% end %>
</ul>

<script>
	var t;
	
	$(document).ready(function() {
		clearTimeout(t);
		checkForPlaydateRequest();
	});
	
	function checkForPlaydateRequest() {
		$.getScript("/playdate_requested.js");
		t = setTimeout(checkForPlaydateRequest, 5000);
	}
	
	function checkForDisconnect() {
		$.getScript("/playdate_disconnected.js");
		t = setTimeout(checkForDisconnect, 1000)
	}
</script>