<div class="content">
	<%= render :partial => "friends" %>

	<% if @new_friends.count > 0 %>
	<h3>Add Playmates</h3>
	<ul>
		<% for user in @new_friends %>
			<li><%=h user.username %> <%= link_to "Add as friend", friendships_path(:friend_id => user), :method => :post %></li>
		<% end %>
	</ul>
	<% end %>
</div>

<script type="text/javascript">
	var t;
	
	$(document).ready(function() {
		clearTimeout(t);
		checkForPlaydateRequest();
	});
	
	function checkForPlaydateRequest() {
		$.getScript("/playdate_requested.js");
		t = setTimeout(checkForPlaydateRequest, 5000);
	}
	
	function checkForDisconnect() {
		$.getScript("/playdate_disconnected.js");
		t = setTimeout(checkForDisconnect, 1000)
	}
</script>