<div class="content">
	<%= render :partial => "friends" %>

	<button class="blue find-playmates-link">Find Playmates</button>

	<% if @new_friends.count > 0 %>
	<ul>
		<% for user in @new_friends %>
			<li><%=h user.username %> <%= link_to "Add as friend", friendships_path(:friend_id => user), :method => :post %></li>
		<% end %>
	</ul>
	<% end %>
</div>

<div class="lightbox hidden" id="join-lightbox">
</div>

<script type="text/javascript">
	var t;
	
	$(document).ready(function() {
		clearTimeout(t);
		checkForPlaydateRequest();
		
		$('#join-playdate').click(function(){
			clearTimeout(t);
		});
		
		$('.find-playmates-link').click(function() {
			
		});
	});
	
	function checkForPlaydateRequest() {
		$.getScript("/playdate_requested.js");
		t = setTimeout("checkForPlaydateRequest()", 5000);
	}
	
	function checkForDisconnect(p) {
		$.getScript("/playdate_disconnected.js?playdate="+p);
		t = setTimeout("checkForDisconnect(p)", 1000)
	}
</script>