<div class="book-image">
	<%= image_tag "mad_scientist.gif" %>
</div>
<div class="book-text">
	There once was a mad scientist named Max. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget lacus elit. Integer ac ligula eu dui ullamcorper consequat. Etiam bibendum, quam a blandit pharetra, sapien mauris laoreet libero, id venenatis metus nulla id erat. 
</div>
<div class="book-nav">
	<%= link_to "Previous", "#" %>  |  Page 1  |  <%= link_to "Next", "#" %>
</div>