<span class="page-num-text hidden">Page <span id="page-num"></span></span> 
<span class="hidden" id="total-pages"></span>
<div class="inline-block fl">
	<p><a href="#" id="previous-link" class="sprite"></a></p>
</div>
<div class="inline-block fr">
	<p><a href="#" id="next-link" class="sprite"></a></p>
</div>
