<% @book.pages.each do |page| %>
<div id= "<%= "page_"+page.page_num.to_s %>" class="hidden">
	<div class="book-image">
		<%= image_tag getPageImageFilePath(@book.title, page.page_num.to_s) %>
	</div>
	<div class="book-text">
		<%= page.page_text %> 
	</div>
</div>
<% end %>

<div class="book-nav">
	<button class="default" id="prev-page">Previous</button> 
	<span class="page-num-text">Page <span id="page-num"><%= @book.pages.first.page_num %></span></span>  
	<button class="default" id="next-page">Next</button>
</div>