<div class="book-nav-inner">
	<span class="page-num-text hidden">Page <span id="page-num"><%= @playdate.page_num %></span></span> 
	<span class="hidden" id="total-pages"><%= @book.pages.count %></span>
	<div class="previous-container inline-block"><p><a href="#" id="previous-link"></a></p></div>
	<div class="next-container inline-block"><p><a href="#" id="next-link"></a></p></div>
</div>