<div id="pages">
	<% @book.pages.each do |page| %>
		<section>
			<div id= "<%= "page_"+page.page_num.to_s %>">
				<div class="book-image">
					<%= image_tag getPageImageFilePath(@book.image_directory, page.page_num) %>
				</div>
				<div class="book-text">
					<%= simple_format (page.page_text) %> 
				</div>
			</div>
		</section>
	<% end %>
	<section class="last-page">
		<div id= "<%= @book.pages.count+1 %>">
			<div class="beginning-container">
				<p><a href="#" id="beginning-banner"></a></p>
				<div class="beginning-text-container">
					<p><a href="#" id="beginning-link"></a></p>
				</div>						
			</div>
			<div id="book-keepsake" class="keepsake"></div>
		</div>
	</section>
</div>
<script type="text/javascript" src="/javascripts/pageflipInit.js"></script>

