<div id="bookImage">
	<%= image_tag "mad_scientist.gif" %>
</div>
<div id="bookText">
	There once was a mad scientist named Max. 
</div>
<div id="bookNav">
	<a href="#">Previous</a>
	<a href="#">Next</a>
</div>