<div id='pages'>
  <ul>
	<% @book.pages.each do |page| %>
		<li>
			<div id= "<%= "page_"+page.page_num.to_s %>">
				<div class="book-image">
					<%= image_tag getPageImageFilePath(@book.image_directory, page.page_num) %>
				</div>
				<div class="book-text">
					<%= simple_format (page.page_text) %> 
				</div>
			</div>
		</li>
	<% end %>
  </ul>
</div>