<% @books.each do |book| %>
	<div id="<%= 'pages-'+book.id.to_s %>" class="pages hidden">
		<ul class="page-list" data-bookID='<%= book.id.to_s %>'>
			<li>
			 	<div id="page_0" class="page">
					<div class="title-page">
						<%= image_tag getPageImageFilePath(book.image_directory, 0.to_s), :alt => "title-image" %>
					</div>
				</div>
			</li>
		</ul>
	</div>
<% end %>
