<div class="b-load">
	<% @book.pages.each do |page| %>
		<div id= "<%= "page_"+page.page_num.to_s %>">
			<div class="book-image">
				<%= image_tag getPageImageFilePath(@book.image_directory, page.page_num) %>
			</div>
			<div class="book-text">
				<%= simple_format (page.page_text) %> 
			</div>
		</div>
	<% end %>
</div>
