<% 8.times do |i| %>
	<div id= "<%= "slide_"+(i+1).to_s %>">
		<%= image_tag getImageFilePath("pitch."+(i+1).to_s+".jpg")%>
	</div>
<% end %>

<script>
	$(document).ready(function() {
		enableNavButtons("slide", "<%= Playdate::TURN_SLIDE %>");
	});
</script>