
<div id="toybox" class='toybox-full'>
	<div id="toybox-toggle"><p><a href="#" id="toybox-link"></a></p></div>
	<div class="toybox-wrapper fr">
		<div class="toybox-controls-container">
			<div class="toybox-control hidden"><p><a href="#" id="lock-link"></a></p></div>
			<div class="toybox-control">
				<p><a href="#" id="disconnect-link">
					<%= image_tag "disconnect.png" %>
					<div id="ended"></div>
				</a></p>
			</div>
		</div>
		<div class="toybox-content-container fr">
			<%= render :partial => "games/library", :locals => {:books => @books} %>
		</div>
	</div>
</div>