<h1>Hello World!</h1>

	<div id="opentok_console"></div>
	<div id="links">
		<a href="#" onclick="javascript:connect();" id="connectLink">Connect</a>
		<a href="#" onclick="javascript:disconnect();" id="disconnectLink">Leave</a>
		<a href="#" onclick="javascript:publish()" id="publishLink">Publish</a>
		<a href="#" onclick="javascript:unpublish()" id="unpublishLink">Unpublish</a>
	</div>
	<div>
		<div id="myCamera" class="publisherContainer"></div>
		<div id="game">
		</div>
	</div>
</body>
<script>
	show('connectLink');
</script>