<div id="mainContent">
	<div id="opentok_console"></div>
	<div id="links">
		<a href="#" onclick="javascript:connect();" id="connectLink">Connect</a> 
		<a href="#" onclick="javascript:disconnect();" id="disconnectLink">Leave</a>
		<a href="#" onclick="javascript:publish()" id="publishLink">Publish</a>
		<a href="#" onclick="javascript:unpublish()" id="unpublishLink">Unpublish</a>
	</div>
	<div class="clear"></div>
	<div id="vidContent">
		<div id="myCamera" class="publisherContainer">
		</div>
		<div id="famCamera">
		</div>
	</div>
	<div id="activityContent">
		semira
		<div id="bookImage"></div>
		<div id="bookText"></div>
		<div id="bookNav"></div>
	</div>
</div>
<script>
	show('connectLink');
</script>


