<div id="mainContent">
	<div id="opentok_console"></div>
	<div id="links">
		<span id="connection-status" class="hidden">Connected!</span>
		<a href="#" onclick="javascript:connect();" id="connectLink" class="hidden">Connect</a> 
		<a href="#" onclick="javascript:disconnect();" id="disconnectLink" class="hidden">Leave</a>
		<a href="#" onclick="javascript:publish()" id="publishLink" class="hidden">Publish</a>
		<a href="#" onclick="javascript:unpublish()" id="unpublishLink" class="hidden">Unpublish</a>
	</div>
	<div id="videos">
		<div class="activity-content">
			<%= render :partial => "book" %>
		</div>
		<div class="video-content">
			<div id="famCamera">
				<div class="no-person">
				</div>
			</div>
			<div id="myCamera" class="publisherContainer"></div>
		</div>
	</div>
</div>


