<div id="mainContent">
	<div id="opentok_console"></div>
	<div id="links">
		<a href="#" onclick="javascript:connect();" id="connectLink">Connect</a> 
		<a href="#" onclick="javascript:disconnect();" id="disconnectLink">Leave</a>
		<a href="#" onclick="javascript:publish()" id="publishLink">Publish</a>
		<a href="#" onclick="javascript:unpublish()" id="unpublishLink">Unpublish</a>
	</div>
	<div id="videos">
		<div class="activity-content">
			<%= render :partial => "book" %>
		</div>
		<div class="video-content">
			<div id="famCamera"></div>
			<div id="myCamera" class="publisherContainer"></div>
		</div>
	</div>
</div>


