<%= image_tag "playtell_logo.png", :alt => "PlayTell" %>

<div class="block change-password-box">
	
	<p class="password-instructions">Success! Your password has been changed. You can now login to the app using your new password.</p>	

</div>
