<p>Hello <%= @resource.username %>!</p>

<p>We were told that you forgot your password on PlayTell. Don’t worry, it happens to everyone. To reset your password, please click this link:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Thanks,</p>
<p>Team PlayTell</p>

<p>P.S. If you didn’t request this email, you may safely ignore it.</p>
