<h1>Create a New Activity</h1>

<%= label_tag %> Is the new activity a book?
<%= radio_button_tag 'book', 'no', false %> No
<%= radio_button_tag 'book', 'yes', false %> Yes
<br><br>

<%= render "form" %>