<h1>Semiralabs</h1>
<p><%= Time.now.strftime("%A" + ", " + "%B %e, %Y")%></p>
<div id="mainContent">
<div id="content" class="fl">
<% unless @daily.blank? %>
	<p><%= render :partial => @daily %></p>
<% else %>
   <div id="new_daily_form">
		<%= render :partial => "form" %>
  </div>
<% end%>
</div>

<div id="labsImage" class="fl">
	<%= image_tag "Scientist.png", :alt => "The Scientist" %>
</div>
</div>