<div class="keepsakes-container hidden">
	<div class="keepsakes-header">
		<div class="photo-metadata">
			<p class="date inline-block">March 5, 2011</p>
			<p class="separator inline-block">&#149;</p>
			<p class="age inline-block">Jenna is 8 years old</p>
		</div>
		<div class="title-bar">
			<div class="photo-count inline-block fl">
				<p class="photos-icon inline-block"></p>
				<p class="number-text inline-block">2</p>
				<p class="number-text of inline-block">OF</p>
				<p class="number-text inline-block">22</p>
			</div>
			<div class="inline-block title">You and Alana read Grandma and Me</div>
			<div class="close-link inline-block fr"></div>
		</div>
	</div>
	<div class="photo-viewer"></div>
</div>
