<div class="beta-sign-up">
	<div class="sign-up-badge inline-block">
		<%= image_tag "sign_up_badge.png", :alt => "Sign up for the PlayTell beta!" %>
	</div>
	<div id="sign-up-form" class="inline-block">
		<input type="text" class="name" id="name" placeholder="name">
		<input type="email" class="email" id="email" placeholder="email">
		<p class="inline"><a href="#"><%= image_tag "homepage/signup.png", :class => "early-access-submit" %></a></p>
	</div>
	<div class="social-elements inline-block">
		FB like, Twitter button
	</div>
</div>