<div id="ext-sign-up-form">
	<h3>SIGN UP</h3>
	<hr />
	<p class="question" id="owns_iPad">Do you own an iPad?</p> 
	<input type="radio" name="owns_iPad" value="1" class="answer">Yes<br />
	<input type="radio" name="owns_iPad" value="0" class="answer">No

	<p class="question">Which of the following describes you?</p>
	<input type="radio" name="has_kids" value="1" class="answer">
		I have children younger than 8 years old
	<br />
	<input type="radio" name="has_kids" value="2" class="answer">
		I video chat with children that are younger than 8 years old
	<br />
	<input type="radio" name="has_kids" value="0" class="answer">
		None of the above

	<p class="question">With whom will you use PlayTell?</p> 
	<p>Adult name or nickname</p> <input type="text" id="username2">
	<p>Email </p><input type="email" id="email2"></input>

	<p><button class="blue big-button" id="alpha-form-submit">Send</button></p>
</div>
<div id="thank-you-early" class="hidden">
	<h3>Thanks! You're on the list.</h3>
	<p>We'll be in touch soon.</p> 
</div>	
<div id="thank-you-active" class="hidden">
	<h3>You're in!</h3>
	<p>Further instructions are on their way to your email inbox. Get ready to play!</p> 
</div>	
<div id="loader" class="hidden loading"></div>