<div id="ext-sign-up-form">
<div id="step1" class="hidden">
	<h3>Short Sign-Up Survey</h3>

	<p class="required">Required</p>
	<div class="chunk" id="owns_iPad">
		<p class="error-text hidden">Please answer the question below.</p>
		
		<p class="question">Do you own an iPad?</p> 
		<div><input type="radio" name="owns_iPad" value="1" class="answer"><p class="answer-text">Yes</p></div>
		<div><input type="radio" name="owns_iPad" value="0" class="answer"><p class="answer-text">No</p></div>
	</div>
	
	<p class="required">Required</p>
	<div class="chunk" id="has_kids">
		<p class="error-text hidden">Please answer the question below.</p>
			
		<p class="question">Which of the following describes you?</p>
		<div>
		<input type="radio" name="has_kids" value="1" class="answer">
		<p class="answer-text">I have children younger than 8 years old</p>
		</div>
		<div>
		<input type="radio" name="has_kids" value="2" class="answer">
		<p class="answer-text">I video chat with children that are younger than 8 years old</p>
		</div>
		<div>
		<input type="radio" name="has_kids" value="0" class="answer">
		<p class="answer-text">None of the above</p>
		</div>
	</div>
	
	<p><button class="blue big-button" id="beta-form-next">Next</button></p>
</div>

<div id="step2" class="">
	<h3>Sign-Up Your Family</h3>
	
	<p class="required">Required</p>
	<div class="chunk" id="sign-up-family">
		<p class="error-text hidden">You must invite at least one family member to play with.</p>
		
		<p class="question">Who would you like to read with on PlayTell?</p> 
		<input type="text" class="answer name" id="username2" placeholder="name or nickname">
		<input type="email" class="answer email" id="email2" placeholder="email">
	</div>
	
	<div class="chunk hidden" id="sign-up-family-optional">
		<p class="question">Any other family you would like to invite?</p>
		<input type="text" class="answer name" id="username2" placeholder="name or nickname">
		<input type="email" class="answer email" id="email2" placeholder="email">
	</div>
	
	<p><button class="blue big-button" id="beta-form-submit">Sign Up</button></p>
	
</div>

<div id="thank-you-early" class="hidden">
	<%= image_tag "thanks-balloon.png"%>
	<h3>Thanks! You're on the list.</h3>
	<p>We'll be in touch soon.</p> 
</div>	

<div id="thank-you-active" class="hidden">
	<%= image_tag "thanks-balloon.png"%>
	<h3>You're in!</h3>
	<p>Further instructions are on their way to your email inbox. Get ready to play!</p> 
</div>	
<div id="loader" class="hidden loading"></div>