<div id="ext-sign-up-form">
<div id="step1" class="">
	<h3>Short Sign-Up Survey</h3>

	<p class="required">Required</p>
	<div class="chunk" id="owns_iPad">
		<p class="error-text error-text-required hidden">Please answer the question below.</p>
		
		<p class="question">Do you own an iPad?</p> 
		<div><input type="radio" name="owns_iPad" value="1" class="answer"><p class="answer-text">Yes</p></div>
		<div><input type="radio" name="owns_iPad" value="0" class="answer"><p class="answer-text">No</p></div>
	</div>
	
	<p class="required">Required</p>
	<div class="chunk" id="has_kids">
		<p class="error-text error-text-required hidden">Please answer the question below.</p>
			
		<p class="question">Which of the following describes you?</p>
		<div>
		<input type="radio" name="has_kids" value="1" class="answer">
		<p class="answer-text">I have children younger than 8 years old</p>
		</div>
		<div>
		<input type="radio" name="has_kids" value="2" class="answer">
		<p class="answer-text">I video chat with children that are younger than 8 years old</p>
		</div>
		<div>
		<input type="radio" name="has_kids" value="0" class="answer">
		<p class="answer-text">None of the above</p>
		</div>
	</div>
	
	<div class="bottom-button"><p><a href="#" id="beta-form-next" class="homepage-sprite"></a></p></div>
</div>

<div id="step2" class="hidden">
	<h3>Sign-Up Your Family</h3>
	
	<p class="required">Required</p>
	<div class="chunk" id="sign-up-family">
		<p class="error-text error-text-required hidden">You must invite at least one family member to play with.</p>
		<p class="error-text error-text-valid hidden">Please enter your name and a valid email address.</p>
		
		<p class="question">Who would you like to read with on PlayTell?</p> 
		<input type="text" class="answer name" id="username2" placeholder="name or nickname">
		<input type="email" class="answer email" id="email2" placeholder="email">
	</div>
	
	<div class="chunk hidden" id="sign-up-family-optional">
		<p class="question">Any other family you would like to invite?</p>
		<input type="text" class="answer name" id="username2" placeholder="name or nickname">
		<input type="email" class="answer email" id="email2" placeholder="email">
	</div>
	
	<div class="bottom-button bottom-button-first"><p><a class="homepage-sprite close cancel"></a></p></div>
	<div class="bottom-button"><p><a class="homepage-sprite" id="beta-form-submit"></a></p></div>
	
</div>

<div id="step3" class="hidden">
	<h3>Thank You</h3>
	
	<%= image_tag "homepage/balloon.png", :class=>"fr" %>
	<div class="thanks fr">
		<p class="top-thanks top-thanks-full hidden">You and your family members will receive an email with a link to download the PlayTell app.</p>
		<p class="top-thanks top-thanks-individual hidden">You're on the list! We'll be in touch soon.</p>
		<p class="bottom-thanks">Thanks for signing up to PlayTell!</p>
	</div>
	<br>

	<div class="bottom-button"><p><a class="homepage-sprite close"></a></p></div>
	
</div>
	
<div id="loader" class="hidden loading"></div>