<% content_for :head do %>	

	<script type="text/javascript">
	  	$(document).ready(function() {

		    //code to be used for scrolling page for nav links 
		    $("#jump").click(function (event) {	
				$(".mainContainer").animate(
					{ scrollTop: 100 }, "slow", "easeOutBack" );
				event.preventDefault();
				return false;
			});
			
			//early access
			$('#early-access-submit').click(function() {
				if ($('#email').val() != '') {
					$('#alpha-lightbox').lightbox_me({
				    	centered: true,
						onLoad: function() {
							$('#alpha-lightbox-text').find('input:first').focus();
						}
					});
				}
			});

			$('#alpha-form-submit').click(function() {
				$('#ext-sign-up-form').hide();
				$('#loader').show();
				$.ajax({
					url: "/early_access.json",
					data: {
						email: $('#email').val(), 
						email2: $('#email2').val()
					},
					type: "POST",
					success: function(data) {
						$('#loader').hide();
						if (data.message == "active_user") {
							$('#thank-you-active').show();
						}
						else {
							$('#thank-you-early').show();
						}
					}
				});		
			});
			
		  });
	
		//size the splash image to the window height
		$(function () {
		  var h = $(window).height();
		  $('#block-splash').height(h);
	
		  var img = new Image();
		  $(img)
		    .load(function () {
		      $(this).hide();
			  $(this).appendTo('#block-splash');
		      $(this).show();
		    })

		    .error(function () {
		      // notify the user that the image could not be loaded
		    })

		    .attr('src', '/images/splash_ipad.png')
		    .attr('style', 'height: ' + h + 'px');
		});	
		
	 </script>
	
<% end %>

<div class="nav">
	<a href="#"><%= image_tag 'logo.png' %></a>
	<ul>
		<!--<li><a href="#">Home</a></li>
		<li><a href="#">Product</a></li>
		<li><a href="#">Team</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#"><button>Request Invitation</button></a></li>-->
	</ul>
</div>
<div class="landing-page" id="landingpage">
	<div id="block-splash">
	</div>
	<div id="block-product">
	</div>
	<div id="block-team">
	</div>
	<div id="block-sign-up">
		<div class="alpha-sign-up" id="sign-up">
			<div id="sign-up-form">
				<h3>Request an Invitation</h3>
				<input type="email" id="email" placeholder="Enter your email address">
				<button class="blue big-button" id="early-access-submit">Sign me up!</button>
			</div>
		</div>
	</div>
	
	<div class="lightbox hidden" id="alpha-lightbox">
		<div id="alpha-lightbox-text">
			<div id="ext-sign-up-form">
				<h2>Want to take PlayTell for a test drive?</h2>
				<input type="email" id="email2" placeholder="Enter email address">
				<p><button class="blue big-button" id="alpha-form-submit">Send to PlayTell</button></p>
			</div>
			<div id="thank-you-early" class="hidden">
				<h3>Thanks! You're on the list.</h3>
				<p>We'll be in touch soon.</p> 
			</div>	
			<div id="thank-you-active" class="hidden">
				<h3>You're in!</h3>
				<p>Further instructions are on their way to your email inbox. Get ready to play!</p> 
			</div>	
			<div id="loader" class="hidden loading"></div>
		</div>
		<button class="close close-x blue">X</button>	
	</div>
	
</div>

