<% content_for :head do %>	

	<script type="text/javascript">
	  	$(document).ready(function() {

		    //code to be used for scrolling page for nav links 
		    $("#jump").click(function (event) {	
				$(".mainContainer").animate(
					{ scrollTop: 100 }, "slow", "easeOutBack" );
				event.preventDefault();
				return false;
			});
			
			//brings up the survey lightbox
			$('#early-access-submit').click(function() {
				if ($('#email').val() == '' || $('#name').val() == '') {
					alert("pls enter your name and valid email address");
				}
				else {
					$('#alpha-lightbox').lightbox_me({
				    	centered: true,
						onLoad: function() {
							$('#alpha-lightbox-text').find('input:first').focus();
						},
						onClose: function() {
							$('#loader').hide();
							$('#thank-you-active').hide();
							$('#thank-you-early').hide();
							$('#ext-sign-up-form').show();
							
						}
					});
				}
			});
			
			//submits the survey and shows either errors or balloon thank you message
			$('#alpha-form-submit').click(function() {
				if (false) {
					alert("true");
				}
				else {
					$('#ext-sign-up-form').hide();
					$('#loader').show();
					$.ajax({
						url: "/early_access.json",
						data: {
							early_user: { username: $('#name').val(),
										  email: $('#email').val(), 
										  owns_iPad: $("input[@name=owns_iPad]:checked").val(),
										  has_kids: $("input[@name=has_kids]:checked").val() },
							user2: { username2: $('#username2').val(),
									 email2: $('#email2').val() }
						},
						type: "POST",
						success: function(data) {
							$('#loader').hide();
							if (data.message == "active_user") {
								$('#thank-you-active').show();
							}
							else {
								$('#thank-you-early').show();
							}
						}
					});		
				}
			});
			
		  });
	
		//size the splash image to the window height
		$(function () {
			var h = $(window).height();
	
			var imgH = h / 7 * 5;
			var signupH = h / 7 * 5 - 40;
			var signupW = ($(window).width() - $('#block-sign-up').outerWidth()) / 2
			$('#block-sign-up').offset({top: signupH, left: signupW});
		
		  	var img = new Image();
		  	$(img)
		    	.load(function () {
		      		$(this).hide();
			  		$(this).appendTo('#block-splash');
		      		$(this).show();
		    	})

		    	.attr('src', '/images/splash_ipad.png')
		    	.attr('style', 'height: ' + imgH + 'px');
		});	
		
	 </script>
	
<% end %>

<div class="landing-page" id="landingpage">
	<div class="splash-container">
		<div id="block-splash"></div>
		<div id="block-sign-up">
			<div class="alpha-sign-up" id="sign-up">
				<div id="sign-up-form">
					<h3>REQUEST INVITE</h3>
					<hr />
					<input type="text" class="name" id="name" placeholder="name"><br />
					<input type="email" class="email" id="email" placeholder="email"><br />
					<button class="blue big-button" id="early-access-submit">Sign me up!</button>
				</div>
			</div>
		</div>
	</div>
	<div class="lightbox hidden" id="alpha-lightbox">
		<div id="alpha-lightbox-text">
			<%= render :partial => 'survey' %>
		</div>
		<button class="close close-x blue">X</button>	
	</div>
</div>
<!--<div class="footer">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Product</a></li>
		<li><a href="#">Team</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</div>-->

