<div class="keepsakes-container">
	<div class="photo-metadata">
		<p class="date inline-block"></p>
		<p class="age inline-block"></p>
	</div>
	<div class="title-bar">
		<div class="inline-block fl">
			<p class="number-text"></p>
			<p class="number-text of"></p>
			<p class="number-text"></p>
		</div>
		<div class="inline-block title">
		</div>
		<div class="close-link inline-block fr">
		</div>
	</div>
	<div class="photo-viewer">
	</div>
</div>
<div class="overlay hidden"></div>