<!DOCTYPE html>
<html>
<head>
	<title>Page</title>
	<style type="text/css" media="screen">
		body {margin:0;}
		
		div.book {
			width:400px;
			height:600px;
			overflow:hidden;
		}
	</style>
</head>
<body>
<%= yield %>
<script type="text/javascript" charset="utf-8">
	var readyCheck = setInterval(function () {
		if (document.readyState === "complete") {
			document.location.href = 'playtell:coverLoadFinished:<%= @book.id.to_s %>';
			clearInterval(readyCheck);
		}
	}, 10);
</script>
</body>
</html>