<!DOCTYPE html>
<html>
<head>
	<title>Page</title>
	<style type="text/css" media="screen">
		body {margin:0;}
	</style>
</head>
<body>
<%= yield %>
<script type="text/javascript" charset="utf-8">
	var readyCheck = setInterval(function () {
		if (document.readyState === "complete") {
			document.location.href = 'playtell:pageLoadFinished:<%= @book.id.to_s %>:<%= @page.page_num.to_s %>';
			clearInterval(readyCheck);
		}
	}, 10);
</script>
</body>
</html>