<!DOCTYPE html>
<html>
<head>
	<title>Page</title>
	<style type="text/css" media="screen">
		body {margin:0;}
		
		div.page {
			width:800px;
			height:600px;
			overflow:hidden;
		}
		
		div.page table.page-table {
			margin:0;
			padding:0;
			border-collapse:collapse;
			border-spacing:0;
			width:800px;
			height:600px;
		}
		
		div.page table.page-table td {

			vertical-align:middle;
			text-align:center;
		}
		
		.book-text {
			text-align: justify;
			font-family: "Nobile", sans-serif;
			font-size: 14pt;
			line-height: 22pt;
			color: black;
			padding: 18px 65px 7px 65px;
			margin: 0 auto;
		}

		.book-text-small {
			text-align: justify;
			font-family: "Nobile", sans-serif;
			font-size: 12pt;
			line-height: 22pt;
			color: black;
			padding: 18px 65px 7px 65px;
			margin: 0 auto;
		}

	</style>
</head>
<body>
<%= yield %>
<script type="text/javascript" charset="utf-8">
	var readyCheck = setInterval(function () {
		if (document.readyState === "complete") {
			document.location.href = 'playtell:pageLoadFinished:<%= @book.id.to_s %>:<%= @page.page_num.to_s %>';
			clearInterval(readyCheck);
		}
	}, 10);
</script>
</body>
</html>